{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}
    <!-- SITE WELCOME MESSAGES -->
    <h1>Welcome to "What's The Buzz?"</h1>

    <p>This site was created to boost student engagement with current news by efficiently providing them a source
        of convenient, trustworthy, and priority news content. All the data is pulled
        using the News API, which constantly gathers the most recent articles across news sites
        and blogs across the US. 
    </p>
    <!-- SITE USAGE INSTRUCTIONS -->
    <p> To generate articles, please refer to the three bar menu on the top right corner and select the
        article generator. Once there, you will be prompted to select a topic of interest from a drop-down menu.
        This will generate the five most recent articles or blogs posted under that topic, with a short description
        of their content below, for those looking to absorb information quickly.
    </p>

    <!-- CAROUSEL OF NEWS IMAGES ON HOME PAGE -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.shutterstock.com/image-photo/daily-newspaper-wooden-background-600nw-384014077.jpg" class="d-block w-100" alt="...">
            </div>
            
            <div class="carousel-item">
                <img src="https://www.shutterstock.com/image-photo/portrait-reporter-woman-holding-microphone-600nw-1832571394.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://www.shutterstock.com/image-vector/breaking-news-live-banner-on-600nw-655085215.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

{% endblock %}