
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "news_form" %}

{% block content %}

    <h2>Article Generator</h2>

    <p>Choose a topic from the drop-down menu to start reading!</p>

    <form action="/news/dashboard" method="POST">

        <label>News Categories:</label>
        <select name="topic">
            <option value="sports">Sports</option>
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="health">Health</option>
            <option value="general">General</option>
            <option value="science">Science</option>
            <option value="technology">Technology</option>
        </select>
        <br>

        <button class="btn btn-primary">Read On!</button>
    </form>

{% endblock %}